.header {
  height: 40px;
  background-color: rgba(2, 106, 167, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  color: lightgray;
  font-size: 24px;
  font-style: italic;
  font-family: sans-serif;
  font-weight: 400;
}
.board-container {
  width: 100vw;
  background-color: #f8f9f9;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 40px);
}
.board-container__form {
  height: 78px;
  width: 272px;
  background-color: #dfe3e6;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
  transition: background 85ms ease-in, opacity 40ms ease-in,
    border-color 85ms ease-in;
}
.board-box {
  height: 100px;
  width: 200px;
  margin: 10px;
  background-color: rgba(2, 106, 167, 1);
  padding: 8px;
  border-radius: 3px;
  display: block;
}
.add-board {
  height: 100px;
  width: 200px;
  margin: 10px;
  background-color: rgba(9, 45, 66, 0.13);
  padding: 8px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 16px;
  color: #6b808c;
}

.add-board:hover {
  background-color: rgba(9, 45, 66, 0.23);
}
.board-box__title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 20px;
}
